#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 302px;
  text-align: center;
}

.logo {
  height: 96px;
  padding: 240px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 32px #5a62fcaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 32px #11c0f0aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 32px;
}

.read-the-docs {
  color: #888;
}
